/*
* |--------------------------------------------------------------------------
* | Css variables | Tailwindcss
* |--------------------------------------------------------------------------
*/

:root {
    /*
    * Global primary colors
    */
    --tw-primary-950: #ffffff;
    --tw-primary-900: #ffffff;
    --tw-primary-800: #ffffff;
    --tw-primary-700: #ffffff;
    --tw-primary-600: #ffffff;
    --tw-primary-500: #ffffff;
    --tw-primary-400: #ffffff;
    --tw-primary-300: #ffffff;
    --tw-primary-200: #ffffff;
    --tw-primary-100: #ffffff;
    --tw-primary-50: #ffffff;
    /*
    * End global primary colors
    */

    /*
    * Global secondary colors
    */
    --tw-secondary-950: #ffffff;
    --tw-secondary-900: #ffffff;
    --tw-secondary-800: #ffffff;
    --tw-secondary-700: #ffffff;
    --tw-secondary-600: #ffffff;
    --tw-secondary-500: #ffffff;
    --tw-secondary-400: #ffffff;
    --tw-secondary-300: #ffffff;
    --tw-secondary-200: #ffffff;
    --tw-secondary-100: #ffffff;
    --tw-secondary-50: #ffffff;
    /*
    * End global secondary colors
    */


}
